@model TaskManagement.Models.Device

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <div class="form-container">
        <form action="/Device/Edit" method="post" class="center=form">

            <input type="hidden" id="Id" name="Id" class="form-control" value="@Model.Id" />

            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" id="deviceName" name="deviceName" class="form-control" value="@Model.deviceName" />
            </div>

            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" id="status" name="status" class="form-control" value="@Model.status" />
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="@Url.Action("ShowTask","Task")" class="btn btn-secondary">Cancel</a>
            </div>

        </form>
    </div>

</body>

</html>

